.productview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    padding: 30px;
    border-radius: 8px;
    background-color: #fff; 
  }
  
  .product-view-image {
    flex: 1;
    max-width: 200px; 
    max-height: 300px; 
  }
  
  .product-view-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .productView-text {
    padding: 30px;
    margin-top: 10px;
  }
  
  .productView-text span {
    color: rgba(2, 132, 199, 1);
  }
  
  .productView-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .productView-text h2, .productView-text p {
    font-size: 1.5rem; 
    margin: 3px 0;
  }
  hr {
    border: none; 
    height: 5px; 
    background-color: rgba(148, 163, 184, 1); 
    width: 75%; 
    margin: 20px auto; 
  }
  
  .product-view-description {
    padding: 0 200px;
    margin: 20px 0; 
  }
  .product-view-description p{
    font-size: 20px;
  }
  